.row
{
    width: 100%;
    height: 600px;
    margin: auto;
}

.column
{
    width: 90%;
    height: 30%;
    margin-left: 45px;
    margin-top: 40px;
}

.ijo
{
    background-color: rgb(9, 255, 120);
    width: 90%;
    height: 20%;
    margin-left: 45px;
    margin-top: 40px;
    border: 3px solid black;
}

.kuning
{
    background-color: yellow;
    float: left;
    width: 25%;
    height: 99%;
    border: 3px solid black;
}

.merah
{
    background-color: rgb(248, 79, 0);
    float: right;
    width: 67%;
    height: 99%;
    border: 3px solid black;
}

.biru
{
    background-color: rgb(0, 153, 255);
    float: right;
    width: 67%;
    height: 99%;
    border: 3px solid black;
}